<h1>What's up you cool baby?</h1>

{{#each eps}}
<div>
    <h2><a href='/mbmbam/episode/{{_id}}'>{{title}}</a></h2>
    <p>{{publication_date}}</p>
    <div>{{description}}</div>
    
</div>

{{/each}}